

body{ 
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.text-main{
  margin: 0 auto;
  max-width: 950px;
  padding: 50px 0 5px;
  position: relative;
  text-align: center;
  width: 100%;
  color:#fff;
  
  
}



