body {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0678255b-ecfd-4775-999a-0680d539f07c/1d7fbb26-9ab3-4978-a66d-cb0e17c2a0e3/KG-en-20221128-popsignuptwoweeks-perspective_alpha_website_large.jpg") ;
  /* background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8)); */
}

.signin-box{
  background-color: rgba(0,0,0,.75);
}
.signup-box{
  background-color: rgba(0,0,0,.75);
}

.grid-block{
  background-color: #8c8c8c;
}
